
@font-face {
  font-family: 'Govia Sans Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Govia Sans Medium'), url('../font/Govia\ Sans\ Medium.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'Govia Sans Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Govia Sans Bold'), url('../font/Govia\ Sans\ Bold.woff') format('woff');
  }
html{
	font-family:'Govia Sans Medium' ;
	-webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  background-color:  #936965;
}
body {
	margin: 0;
}
html,body{
	margin: 0;
	padding: 0;
}
#mission{
  text-align: center;
  color: #ffd480;
}
/* banner */
#banner{
  width: 100%;
  height: auto;
}

/* Navigation Bar */

#menu{
  font-size:30px;
  cursor:pointer;
  color: #ffd480;
  font-family: 'Govia Sans Bold';


}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #802b00;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #ffd480;
  font-family: 'Govia Sans Medium';
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #d8cbb2;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

/* categories */
.categories{
  background-color: #f1d197;
  justify-content: center;
  text-align: center;
  color: #b8584f;
  padding: 20px;
  
}

.categories h1{
  padding: 10px;
}
.row{
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  padding: 20px;
  
}


#logo{
  border-radius: 50%;
  margin: 20px;
  border:5px solid #b8584f;
 
}

#categories{
  flex:200px;
  align-content: center;
}
/* food */
.foodBar h1{
  text-align: center;
  color: #f1d197;
  font-size: 40px;
}
.grid{
display: grid;
width: 90%;
margin: 0 auto;
grid-template-columns: 1fr 1fr;
}
.foodBar img{
width: 200px;
height: 200px;
border: 5px solid #f1d197;
}
.items {
padding: 20px;
font-size: 25px;
text-align: center;
border: 300px;
justify-content: center;
}

.items p{
padding-top: 10px;
}

#color{
  background:#b8584f;
  color:#f1d197;
}
#noncolor{
  background-color: #f1d197;
  color: #b8584f;
}

/* footer */
.footer{
  color:#ffd480;
  text-align: center;
  padding-top: 20px;
}

/* responsive */

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}

}

@media only screen and (max-width: 600px){
  .items {border: 200px; font-size: 20px;}
  .items p{padding-top: 15px;}
  .sidenav a{font-size: 18px;}

}