<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../style/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Japanese Food</title>
 
</head>
<body>
       <!-- Navigation Bar -->
    <div id="header"></div>

<div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="kfood.html">Khmer Food</a>
        <a href="jfood.html">Japanese Food</a>
        <a href="keto.html">Keto</a>
        <a href="dessert.html">Dessert</a>
      </div>
      
      <div id="main">
          <span id= "menu"onclick="openNav()">&#9776;</span>
        <a href="../index.html" id ="menu">Home</a>
    <!--end of Navigation bar -->
    <!-- Food bar  -->
    <div class="foodBar">
    <h1>KETO</h1> 
    <div class= "grid">
        <div class = "items" id ="color"><img id ="color" src="../image/jfood/88E669F0-DBA8-4A6C-ABE5-8BB3BD4E8507.JPG">
        </div>
        <div class = "items" id ="noncolor"><p>uniiiii </p></div>
        <div class = "items" id ="noncolor"><p>Lemon and grill salmon with a good temperature of cooking</p></div>
        <div class = "items" id ="color"><img src= "../image/jfood/IMG_2140.jpg"></div>
        <div class = "items" id ="color"> <img src= "../image/jfood/IMG_5283.png"></div>
        <div class = "items" id ="noncolor"><p>Rose Mary, Thyme, Galic and butter make your steak tastes absoluately perfect!!!</p></div>
        
    </div>
</div> 
</div>
<script src="../js/index.js"></script>
</body>
<footer class= "footer"> Copyright ⓒ 2020
        <p>Created by CVM</p>
      </footer>

</html>
