
    <!-- Navigation Bar -->
<div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="#cfood">Cambodia Food</a>
        <a href="#jfood">Japanese Food</a>
        <a href="#keto">Keto</a>
        <a href="#dessert">Dessert</a>
      </div>
      
      <div id="main">
          <span id= "menu"onclick="openNav()">Menu&#9776;</span>
          <!-- Banner -->
          <img id= "banner" src ="image/banner.png" width= "460" height ="345">
       
      
      <script>
      function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
      }
      
      function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        document.getElementById("main").style.marginLeft= "0";
      }
      </script>
      </div>


      